.body {
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 20px;
}

.header-wrapper >.nav-items {
    display: flex;
}
nav img{
    width:5%;
    height:5%;
}

.nav-items {
    list-style-type:none;
}

.nav-items button{
    display: inline;
    margin-right: 20px;
}

header{
    text-align:left;
}

header img{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.facilitations {
    display:flex;
    justify-content:space-around;
    margin-top:40px;
}

.facilitations div{
    text-align: center;
}

.circle{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
    flex-direction: column;
    }

    .nav-items {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }
}